html,
body {
  margin: auto;
  padding: 5px;
  background-color: black;
  text-align: center;
  font-family: "Courier";
  color: green;
  font-size: 12pt;
  line-height: 10pt;
}

canvas {
  display: block;
}

.ascii {
  margin-top: 14px;
}
